# dependencies
**/node_modules
/.pnp
.pnp.js

# VS code
.vscode/settings.json
.vscode/launch.json

# System Files
.DS_Store

# Coverage and testing
.coverage
/coverage
coverage.html
coverage.out
coverage.xml
cypress/screenshots
cypress/videos

# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
playwright-report/
blob-report/
test-results/
