.work_background {
  background-color: #eaeaea;
}

.focusContainer {
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 1px solid #000000;
  background-color: white;
  padding-bottom: 5%;
  padding-top: 2%;
  margin-top: 4%;
  margin-bottom: 1%;
}

.focusBody {
  background-color: #b8e4f5;
}

.navigationBar {
  overflow: hidden;
  background-color: #333;
}

.navigationBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigationBar a:hover {
  background-color: #ddd;
  color: black;
}

.navigationBar a.active {
  background-color: #4CAF50;
  color: white;
}

.navigationBar a.logIO {
  float: right;
}
